extends layout

block content
    h1 Request Header Parser Microservice
    h2.red Usage
    code http://localhost:3000/whoami
    h2.red Output
    code {
    br
    code "ipaddress": "129.49.102.4",
    br
    code "language": "en-US",
    br
    code  "software": "Macintosh; Intel Mac OS X 10_12_5"
    br
    code }
